.pagination {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
}
.active-page {
    border: solid 1px #808e9b;
    border-radius: 100px;
    color: #808e9b;
    width: 40px; height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.link {
    text-decoration: none;
    font-weight: 500;
    color: #007bff;
}